src/main/resources/templates/index.html

# Node/JS env. conf
package.json

# Spring conf
config-dev/**
vendor/**

# Windows / macOS
desktop.ini
.DS_Store
Thumbs.db

# Maven
target/
src/main/java/**
src/test/java/**

# Node / Javascript
.lock-wscript
.wafpickle-N
.*.swp
._*
npm-debug.log
#.npmrc
node_modules
#config.gypi
*.orig
package-lock.json
src/main/resources/static/bundle-prod.js
src/main/resources/static/main.css

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/
*.code-workspace
